Repository drewnoakes/metadata-extractor-dotnet, pull requests merged in 2023-05, with the labels that each got.

#329 Fixes Issue #328
  MetadataExtractor/Formats/Png/PngMetadataReader.cs
Labels: bug, format-png

#333 Fix Exif thumbnail offset
  Directory.Build.props
  MetadataExtractor.Tests/Formats/Exif/ExifDirectoryTest.cs
  MetadataExtractor.Tests/Formats/Exif/ExifThumbnailDescriptorTest.cs
  MetadataExtractor/Formats/Exif/ExifReader.cs
  MetadataExtractor/Formats/Exif/ExifThumbnailDescriptor.cs
  MetadataExtractor/Formats/Exif/ExifThumbnailDirectory.cs
  MetadataExtractor/Formats/Exif/ExifTiffHandler.cs
  MetadataExtractor/Formats/Heif/HeifMetadataReader.cs
  MetadataExtractor/Formats/Photoshop/PhotoshopReader.cs
  MetadataExtractor/Formats/Photoshop/PhotoshopTiffHandler.cs
  MetadataExtractor/Formats/Png/PngMetadataReader.cs
  MetadataExtractor/Formats/QuickTime/QuickTimeTiffHandler.cs
  MetadataExtractor/Formats/Tiff/TiffMetadataReader.cs
  MetadataExtractor/Formats/WebP/WebpRiffHandler.cs
  MetadataExtractor/PublicAPI/net35/PublicAPI.Shipped.txt
  MetadataExtractor/PublicAPI/net35/PublicAPI.Unshipped.txt
  MetadataExtractor/PublicAPI/net45/PublicAPI.Shipped.txt
  MetadataExtractor/PublicAPI/net45/PublicAPI.Unshipped.txt
  MetadataExtractor/PublicAPI/netstandard1.3/PublicAPI.Shipped.txt
  MetadataExtractor/PublicAPI/netstandard1.3/PublicAPI.Unshipped.txt
  MetadataExtractor/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  MetadataExtractor/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  spelling.dic
Labels: format-exif

#335 Port IPTC encoding fix from Java library
  MetadataExtractor.Tests/Formats/Iptc/Iso2022ConverterTest.cs
  MetadataExtractor/Formats/Iptc/Iso2022Converter.cs
Labels: format-iptc
